body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.card-design{
  background-color: #EED5D2;
  margin: auto;
  width: 40%;
  border: 3px solid #8B8378;
  padding: 15px;

}

button {
  background-color: #EED5D2; 
  color: black; 
  border: 2px solid #EED5D2;
}

button:hover {
  background-color: #8B8378;
  color: white;
}
